<style>
	.line {width:100%; margin-top:20px;margin-bottom:5px;border-bottom:2px solid #8c96a0;}
	.line_red {width:100%; margin-top:20px;margin-bottom:5px;border-bottom:2px solid #e98d70;}
	.div_common {padding: 0 0 8px 0;margin-left:50px;width:95%;height:auto;word-wrap: break-word; word-break: normal;}
</style>
<script src="/javascripts/shortcut.js"></script>
<script src="/javascripts/w2r/editor/comment_editor.js"></script>
<link rel='stylesheet' href='/stylesheets/w2r/editor/comment_editor.css' />
<div style="margin-top:150px;"></div>
<div id="comment_thread">
	<div id="comment_mainDiv">
	<% if (typeof(list) !== 'undefined' && list.length > 0) { %>
		<% list.forEach(function (v, k){ %>
			<% if (typeof(session.user) !== 'undefined' && session.user !== null && session.user.id === v.userid ) { %>
				<div class='line_red'></div>
			<% } else { %>
				<div class='line'></div>
			<% } %>
			<div style='width:100%;'><div style='float:left;width:50px;'>
			<% if (typeof(v.avatar)!=='undefined'&&v.avatar !== null&& v.avatar !== '') { %>
				<a target="_blank" href="/relations/follow/<%= v.userid%>"><img src='<%= v.avatar%>' title='<%= v.username%>' height='25' width='25' style='border-radius:5px;'></a>
			<% } else { %>
                <a target="_blank" href="/relations/follow/<%= v.userid%>"><img src='http://gravatar.com/avatar?size=25' title='<%= v.username%>' height='25' width='25' style='border-radius:5px;'></a>
			<% } %>
            </div>
			<div class='div_common' id='<%= v.id%>'>
			<span style='font-size:16px;'><%- v.content%>
			</span></div><div style='text-align:right;width:100%;'>
			<% if (typeof(session.user) !== 'undefined' && session.user !== null && session.user.id == article.author_id) { %>
				<span title="删除评论" onclick="deleteComment('<%= v.id %>',this)" class="glyphicon glyphicon-trash" style="cursor:pointer;"></span>&nbsp;&nbsp;
			<% } %>
			<span style='font-size:5px;font-family:Microsoft YaHei;'><%= v.username%>&nbsp;&nbsp;&nbsp;&nbsp;<%= k+1 %>楼&nbsp;&nbsp;<time><%= v.create_date%></time></span></div></div>
		<% })%>
	<% } else { %>
	  <!--暂无评论-->
	<% } %>
	</div>
	
	<% if (typeof(has_more) !== 'undefined' && has_more !== null&& has_more === true) { %>
		<div id="pagediv" style="text-align:center;margin-top:50px;">
		<a style="cursor:pointer;" onclick="loadAllComment('<%= article.id%>')">所有回复</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a style="cursor:pointer;" onclick="loadComment('<%= pageIndex%>','<%= pageSize%>','<%= article.id%>')">更多回复...</a>
		</div>
	<% } %>
	
	<div style="width:100%;margin-top:50px;">
	<% if (typeof(session.user) !== 'undefined' && session.user !== null) { %>
			<div class="editor-toolbar">
			<a title="加粗 CTRL+B" data-shortcut="ctrl+b" class="glyphicon glyphicon-bold"></a>
			<a title="斜体 CTRL+I" data-shortcut="ctrl+i" class="glyphicon glyphicon-italic"></a>
			<a title="无序列表 CTRL+ALT+L" data-shortcut="ctrl+alt+l" class="glyphicon glyphicon-list"></a>
			<i class="separator">|</i>
			<a title="超链接 CTRL+K" data-shortcut="ctrl+k" class="glyphicon glyphicon-link"></a>
			<a title="图片 CTRL+ALT+I" data-shortcut="ctrl+alt+i" class="glyphicon glyphicon-picture"></a>
			<a title="预览 CTRL+ALT+P" id="glyphicon-eye" data-shortcut="ctrl+alt+p" class="glyphicon glyphicon-eye-open"></a>
			<i class="separator">|</i>
			<a title="使用帮助" href="/help" target="_blank" class="glyphicon glyphicon-question-sign"></a>
			</div>
            <textarea id="editor" placeholder="回复 (Ctrl + Enter)" style="font-size:16px;width:100%;height:200px;border-radius:5px 5px 5px 0px;outline:none;" ></textarea>
			<div id="preview" class="preview"></div>
			<br>
			<button type="button"  data-shortcut="ctrl+enter" title="回复 (Ctrl + Enter)" onclick="mainComments()" class="btn btn-primary">发表评论</button>
	<% } else { %>
			您想参与评论吗？赶紧点击<a href="/users/login?articleid=<%= article.id%>"><b>登录</b></a>/<a href="/users/reg"><b>注册</b></a>吧
	<% } %>
	</div>
</div>
<script>
$(function(){
//	$("#editor").focus();
	$("time").each(function(){
		if(typeof($(this).html()) !== 'undefined' && $(this).html() !== 'undefined' && $(this).html() !== '' && $(this).html() !== null && $(this).html() !== 'null'){
			$(this).html(moment($(this).html()).format('YYYY-MM-DD HH:mm'))
		}else{
			$(this).html('');
		}
	});
})
var cnum=1;
function mainComments(){
	var cd=moment().format('YYYY-MM-DD HH:mm');
	var textarea=$("#editor").val();
	if(textarea===null||textarea===''){
		alert("写点什么东西再发表吧");
		return;
	}
	//textarea=textarea.replace(/\r\n/g,'<br>');
	//textarea=textarea.replace(/\n/g,'<br>');
	var avatar=$("#currentAvatar").val();
	if(avatar===null||avatar===''){
		avatar="http://gravatar.com/avatar?size=30"
	}
	var username=$("#currentUsername").val();
	var articleid=$("#currentArticleid").val();
	var cid="comment_"+cnum;
	cnum++;
	
	$.ajax({
			type: "GET",
			url: "/comments/addComment",
			data: {content:textarea,articleid:articleid},
			dataType: "json",
			success: function(json){
				var data=eval(json)	
				alert(data.message);				
				if(data.status==='success'){
					/*
					var div="<div class='line'></div>"+
						"<div style='width:100%;'><div style='float:left;width:50px;'><img src='"+avatar+"' title='"+username+"' height='30' width='30' style='border-radius:5px;'></div>"+
						"<div class='div_common' id='"+cid+"'>"+
						"<span style='font-size:16px;'>"+textarea+
						"</span></div><div style='text-align:right;width:100%;'><span style='font-size:5px;font-family:Microsoft YaHei;'>"+username+"&nbsp;&nbsp;&nbsp;&nbsp;<time>"+cd+"</time></span></div></div>";
					$("#comment_mainDiv").append(div);
					$("#"+cid).fadeIn("slow");
					*/
					$("#editor").val("");
					//window.location.reload();
					window.location.href="/articles/allComment/reading/"+articleid;
				}else{
					alert(data.message);
				}
			},
			error: function(){
				alert("评论失败");
			}
		})	
}

function loadAllComment(articleid){
	window.location.href="/articles/allComment/reading/"+articleid;
}

function loadComment(pageIndex,pageSize,articleid){
	$.ajax({
		type: "GET",
		url: "/comments/getCommentlist",
		data: {pageIndex:pageIndex,pageSize:pageSize,articleid:articleid},
		dataType: "json",
		success: function(json){
			var data=eval(json)
			if(data.status==='fail'){
				alert('加载失败');
			}else{
				var list=data.list;
				var html='';
				$(list).each(function(i){
					 var avatar='';
					 if(this.avatar===null||this.avatar===''){
						avatar='http://gravatar.com/avatar?size=25';
					 }else{
						avatar=this.avatar;
					 }
					 var currentUserid=$('#currentUserid').val();
					 if(typeof(currentUserid)!=='undefined'&& currentUserid!==null && currentUserid!=='' && currentUserid===this.userid){
					 	 html+="<div class='line_red'></div>";
					 }else{
					 	html+="<div class='line'></div>";
					 }
					
					 html+="<div style='width:100%;'><div style='float:left;width:50px;'><a target='_blank' href='/relations/follow/"+this.userid+"'><img src='"+avatar+"' title='"+this.username+"' height='25' width='25' style='border-radius:5px;'></a></div>"+
						"<div class='div_common' id='"+this.id+"'>"+
						"<span style='font-size:16px;'>"+this.content+"</span></div><div style='text-align:right;width:100%;'>";
					 if(typeof(currentUserid)!=='undefined'&& currentUserid!==null && currentUserid!=='' && currentUserid===this.author_id){
						 html+="<span title='删除评论' onclick='deleteComment('"+this.id+"',this)' class='glyphicon glyphicon-trash' style='cursor:pointer;'></span>&nbsp;&nbsp;";
					 }
					 html+="<span style='font-size:5px;font-family:Microsoft YaHei;'>"+this.username+"&nbsp;&nbsp;&nbsp;&nbsp;"+((pageIndex-1)*pageSize+i+1)+"楼&nbsp;&nbsp;<time>"+moment(this.create_date).format('YYYY-MM-DD HH:mm')+"</time></span></div></div>";
				});
				var pagehtml='';
				if(data.has_more){
					pagehtml='<a style="cursor:pointer;" onclick="loadAllComment(\''+data.articleid+'\')">所有回复</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a style="cursor:pointer;" onclick="loadComment(\''+data.pageIndex+'\',\''+data.pageSize+'\',\''+data.articleid+'\')">更多回复...</a>';
				}else{
					pagehtml="加载完了，还加载条毛啊";
				}
				$('#comment_mainDiv').append(html);
				$('#pagediv').html(pagehtml);
			}
		},
		error: function(){
			alert('加载失败');
		}
	})
}

function deleteComment(id,obj){
	if(!confirm('是否确定删除？')){
		return;
	}
	$.ajax({
		type: "GET",
		url: "/comments/deleteComment",
		data: {commentid:id},
		dataType: "json",
		success: function(json){
			var data=eval(json)
			alert(data.message);
			if(data.status==='success'){
			//	$(obj).parent().parent().prev().fadeOut();
			//	$(obj).parent().parent().fadeOut();
				window.location.reload();
			}
		},
		error: function(){
			alert("删除失败");
		}
	})
}
</script>




