
<!DOCTYPE html>
<html>
  <head>
    <title>错误页面</title>
	<link rel='stylesheet' href='/stylesheets/yue.css' />
	<style type="text/css">
	  body {
		margin: 0;
		padding: 0.4em 1em 6em;
		background: #efefef;
	  }
	</style>
  </head>
  <body>
  <div class="yue">
  <h1><%= message %></h1>
  <% if( typeof(error.status)!=='undefined'&&error.status!==null) { %>
		<h2><%= error.status %></h2>
  <% } %>
  <% if( typeof(error.stack)!=='undefined'&&error.stack!==null) { %>
		<pre><%= error.stack %></pre>
  <% } %>
  </div>
  </body>
</html>


