<!DOCTYPE html>
<html>
  <head>
    <title>w2r</title>
  <%- partial('common/header') %>
  <style>
	.subheader {
	//	background: #fbfbfa;
		padding: 16px 0;
	//	border-top: 1px solid #eee;
	//	border-bottom: 1px solid #eee;
		text-align: center;
	}
	.entry-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.entry-list .entry-item {
		margin: 25px 0 35px;
		line-height: 25px;
		min-height: 50px;
	}
	.entry-list .entry-meta {
		font-size: 14px;
		font-family: Optima,"Helvetica Neue",sans-serif;
		color: #999;
	}
	</style>
  </head>
  <body>
	<div class="yue">
	<!--
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	-->
	<div class="subheader">共
	<% if (typeof(count) !== 'undefined' && count !== '') { %>
		<%= count %> 
	<% }else{ %> 
		0
	<% } %>
	篇<% if (typeof(type) !== 'undefined' && type !== ''&& type === 'my') { %><% }else{ %>分享<% } %>文章</div>
	<ul id="article_list" class="entry-list">
		<%- partial('article/sharearticlelist') %>
	</ul>
	<div id="pagediv" style="text-align:center;">
	<% if (typeof(has_more) !== 'undefined' && has_more !== null&& has_more === true) { %>
		<a style="cursor:pointer;" onclick="loadArtcile('<%= pageIndex%>','<%= pageSize%>','share')">更多分享文章...</a>
	<% } %>
	</div>
  </div>
  <%- partial('common/footer') %>
  </body>
</html>
<script>
$(function(){
	$("time").each(function(){
        if(typeof($(this).html())!=='undefined'&& $(this).html()!=='undefined'&& $(this).html()!=='' && $(this).html()!==null){
            $(this).html(moment($(this).html()).format('YYYY-MM-DD HH:mm'))
        }else{
            $(this).html('');
        }
	});
})

function loadArtcile(pageIndex,pageSize,loadType){
	$.ajax({
		type: "GET",
		url: "/articles/getArticlelist",
		data: {pageIndex:pageIndex,pageSize:pageSize,loadType:loadType},
		dataType: "json",
		success: function(json){
			var data=eval(json)
			if(data.status==='fail'){
				alert('加载失败');
			}else{
				var list=data.list;
				var html='';
				$(list).each(function(){
                    if(this.update_date!==null){
                        this.update_date = moment(this.update_date).format('YYYY-MM-DD HH:mm');
                    }else{
                        this.update_date = '';
                    }
					html+='<li class="entry-item"><div class="entry-meta">'+this.username+
					'&nbsp;&nbsp;&nbsp;&nbsp;<time>'+this.update_date+'</time></div>'+
					'<div><h2><a target="_blank" href="/articles/reading/'+this.id+'">'+this.title+'</a></h2></div></li>';
				});
				var pagehtml='';
				if(data.has_more){
					pagehtml='<a style="cursor:pointer;" onclick="loadArtcile(\''+data.pageIndex+'\',\''+data.pageSize+'\',\'share\')">更多分享文章...</a>'
				}else{
					pagehtml="加载完了，还加载条毛啊";
				}
				$('#article_list').append(html);
				$('#pagediv').html(pagehtml);
			}
		},
		error: function(){
			alert('加载失败');
		}
	})
}
</script>
