<!DOCTYPE html>
<html>
  <head>
    <title>w2r</title>
  <%- partial('common/header') %>
  <script src="http://apps.bdimg.com/libs/jquery.infinitescroll.js/2.0.2/jquery.infinitescroll.js"></script>
  <style>
	.subheader {
		padding: 16px 0;
		text-align: center;
	}
	.entry-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.entry-list .entry-item {
		list-style:none;
		margin: 5px 0 15px;
		line-height: 25px;
		min-height: 20px;
	}
	.entry-list .entry-meta {
		font-size: 14px;
		font-family: Optima,"Helvetica Neue",sans-serif;
		color: #222223;
	}
	</style>
  </head>
  <body>
	<div class="yue">
	<div class="subheader">共
	<% if (typeof(count) !== 'undefined' && count !== '') { %>
		<%= count %> 
	<% }else{ %> 
		0
	<% } %>
	篇<% if (typeof(type) !== 'undefined' && type !== ''&& type === 'my') { %><% }else{ %>分享<% } %>文章</div>
	<ul id="article_list" class="entry-list">
		<%- partial('article/sharearticlelist') %>
	</ul>
	<div class="navigation" style="display: none;">
		<div class="alignleft"><a href="/main/2">« Older Entries</a></div>
		<div class="alignright"></div>
	</div>
  </div>
  <%- partial('common/footer') %>
  </body>
</html>
<script>
$(function(){
	$('#article_list').infinitescroll({
	    debug           : false,
	    nextSelector    : "div.navigation .alignleft a",
	    loadingText     : "Loading the next set of posts...",
	    donetext        : "<em>Nice! You've hit the end.</em>",
	    navSelector     : "div.navigation",
	    contentSelector : "#article_list",
	    itemSelector    : "#article_list > li"
	    },function(){ 
    });
})
</script>
