<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>我的收藏文章 - w2r</title>
<%- partial('../common/header') %>
<style>
.subheader {
//	background: #fbfbfa;
	padding: 16px 0;
//	border-top: 1px solid #eee;
//	border-bottom: 1px solid #eee;
	text-align: center;
}
.entry-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.entry-list .entry-item {
	list-style:none;
	margin: 5px 0 15px;
	line-height: 25px;
	min-height: 20px;
}
.entry-list .entry-meta {
	font-size: 14px;
	font-family: Optima,"Helvetica Neue",sans-serif;
	color: #999;
}
</style>
</head>
<body>
<div class="yue">
<div class="subheader">共
<%= count %>
篇收藏文章</div>
<ul id="article_list" class="entry-list">
    <% if (typeof(list) !== 'undefined' && list.length > 0) { %>
	<% list.forEach(function (v, k){ %>
	<li class="entry-item">
		<div class="entry-meta">
		收藏于<%= v.update_date %>&nbsp;&nbsp;
			<% if (typeof(v.avatar)!=='undefined'&&v.avatar !== null&& v.avatar !== '') { %>
			<a href="/relations/follow/<%= v.author_id%>"><img src='<%= v.avatar%>' title='<%= v.username%>' height='25' width='25' style='border-radius:5px;'></a>
		  <% } else { %>
	        <a href="/relations/follow/<%= v.author_id%>"><img src='http://gravatar.com/avatar?size=25' title='<%= v.username%>' height='25' width='25' style='border-radius:5px;'></a>
		  <% } %>
		  &nbsp;
		  <a title="<%- v.title %>" target="_blank" href="/articles/reading/<%= v.id %>" style="font-size:22px;"><%- v.title %></a>
		  <!--
		  &nbsp;&nbsp;&nbsp;&nbsp;
		  <span style="color:#9e78c0;font-size:14px"><%= v.reply_count %></span> / <span style="font-size:10px"><%= v.visit_count %></span>
		  -->
		</div>
		<div>
		  <h2></h2>
		</div>
	  </li>
	<% })%>
	<% } %>
</ul>
</div>
<%- partial('../common/footer') %>
</body>
</html>
