<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>登录管理 - w2r</title>
<%- partial('../common/header') %>
</head>
<body>
<div class="yue">
<h1>登录管理</h1>
<form class="navbar-form navbar-left" role="search" action="/logins/loginlist">
<div class="form-group">
	<% if (typeof(username) !== 'undefined' && username !== null) { %>
		<input type="text" id="username" name="username" class="form-control" style="margin-left:-16px;width:200px;background:#efefef;font-family:Microsoft YaHei;background-color:transparent;" value="<%= username %>" placeholder="用户名">	
	<% } else { %>
		<input type="text" id="username" name="username" class="form-control" style="margin-left:-16px;width:200px;background:#efefef;font-family:Microsoft YaHei;background-color:transparent;" placeholder="用户名">
	<% } %>				
</div>
</form>
<br>
<hr>
<input type="hidden" id="pageSize" value="<%= pageSize %>">
<input type="hidden" id="totalCount" value="<%= totalCount %>">
	<table class="table">
      <thead>
        <tr>
          <th >用户名</th>
		  <th width="160">登录时间</th>
          <th width="160">登出时间</th>
          <th width="155">登录ip</th>
		  <th width="60">操作</th>
        </tr>
      </thead>
      <tbody id="login_list">
        <% if (typeof(list) !== 'undefined' && list.length > 0) { %>
		<% list.forEach(function (v, k){ %>
			<tr>
				<td><%= v.username %></td>
				<td><time><%= v.login_date %></time></td>
				<td><time><%= v.logout_date %></time></td>
				<td><%= v.ip %></td>
				<td><span title="删除" onclick="deleteLogin('<%= v.id %>',this)" class="glyphicon glyphicon-trash" style="cursor:pointer;"></span></td>
			</tr>
		<% })%>
		<% } %>
      </tbody>
    </table>
	<ul id="page" class="pagination" ></ul>
</div>
<%- partial('../common/footer') %>
</body>
</html>
<script>
$(function(){
	$("time").each(function(){
		if(typeof($(this).html()) !== 'undefined' && $(this).html() !== 'undefined' && $(this).html() !== '' && $(this).html() !== null && $(this).html() !== 'null'){
			$(this).html(moment($(this).html()).format('YYYY-MM-DD HH:mm'))
		}else{
			$(this).html('');
		}
	});
	
	PageTool.init({
        totalCount:$('#totalCount').val(),
        pageSize:$('#pageSize').val(), 
        pageMax:10 
    },function(){});
})


function select(index){
    PageTool.setPage(index,function(){
		$.ajax({
			type: "GET",
			url: "/logins/getLoginlist",
			data: {pageIndex:index,pageSize:$('#pageSize').val(),condition:$('#username').val()},
			dataType: "json",
			success: function(json){
				var data=eval(json)
				if(data.status==='fail'){
					alert('加载失败');
				}else{
					var list=data.list;
					var html='';
					$(list).each(function(){
						if(this.login_date!==null){
							this.login_date = moment(this.login_date).format('YYYY-MM-DD HH:mm');
						}else{
							this.login_date = '';
						}
						if(this.logout_date!==null){
							this.logout_date = moment(this.logout_date).format('YYYY-MM-DD HH:mm');
						}else{
							this.logout_date = '';
						}
						html+='<tr>';
						html+='<td>'+this.username+'</td>';
						html+='<td><time>'+this.login_date+'</time></td>';
						html+='<td><time>'+this.logout_date+'</time></td>';
						html+='<td>'+this.ip+'</td>';
						html+='<td><span title="删除" onclick="deleteLogin(\''+this.id+'\',this)" class="glyphicon glyphicon-trash" style="cursor:pointer;"></span></td>';
					});
					$('#login_list').html(html);
				}
			},
			error: function(){
				alert('加载失败');
			}
		})
	});
}

function previous(){
    select(PageTool.getCurrentPage()-1);
}

function next(){
    select(PageTool.getCurrentPage()+1);
}

function deleteLogin(id,obj){
	if(!confirm('是否确定删除？')){
		return;
	}
	$.ajax({
		type: "GET",
		url: "/logins/login/delete",
		data: {loginid:id},
		dataType: "json",
		success: function(json){
			var data=eval(json)
			alert(data.message);
			if(data.status==='success'){
				$(obj).parent().parent().fadeOut();
			}
		},
		error: function(){
			alert("删除失败");
		}
	})
}
</script>
