<header>
	<!--
	<link rel="icon" href="/favicon.ico">
	-->
    	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/yue.css' />
	<link rel='stylesheet' href='/stylesheets/w2r/common.css' />
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-55632873-6', 'auto');
	  ga('send', 'pageview');
	</script>
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/pageTool.js"></script>
	<script src="/javascripts/moment.2.8.3.min.js"></script>
	<script src="/javascripts/md5.js"></script>
	<div class="shade"></div>
	<nav class="navbar navbar-inverse navbar-fixed-top" style="background: #efefef;border:none;background-color:transparent;" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main/1" style="font-family: 'Grand Hotel',cursive; font-size: 40px;">w2r</a>
        </div>

        <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-6">
        	<ul class="nav navbar-nav navbar-left">
        	<% if (typeof(session.user) === 'undefined' || session.user === null) { %>
        		<% if (typeof(jumptype) === 'undefined' || jumptype === null ) { %>
						<li><a style="font-family:Microsoft YaHei;font-size:30px;" href="/users/login">登录</a></li>
						<li><a style="font-family:Microsoft YaHei;font-size:30px;" href="/users/reg">注册</a></li>
					<% } else if (jumptype === 'login'){ %>
						<li><a style="font-family:Microsoft YaHei;font-size:30px;" href="/users/reg">注册</a></li>
					<% } else { %>
						<li><a style="font-family:Microsoft YaHei;font-size:30px;" href="/users/login">登录</a></li>
					<% } %>
        	<% } %>
        </ul>
        	<!--
			 <form class="navbar-form navbar-left" role="search" action="/articles/search/articlelist">
				<div class="form-group">
					<% if (typeof(session.user) !== 'undefined' && session.user !== null) { %>
						<% if (typeof(condition) !== 'undefined' && condition !== null) { %>
							<input type="text" id="condition" name="condition" class="form-control" style="width:200px;background:#efefef;font-family:Microsoft YaHei;background-color:transparent;" value="<%= condition %>" placeholder="文章名:my/all">	
						<% } else {%>
							<input type="text" id="condition" name="condition" class="form-control" style="width:200px;background:#efefef;font-family:Microsoft YaHei;background-color:transparent;" placeholder="文章名:my/all">
						<% } %>	  
					<% } else {%>
						<% if (typeof(condition) !== 'undefined' && condition !== null) { %>
							<input type="text" id="condition" name="condition" class="form-control" style="width:200px;background:#efefef;font-family:Microsoft YaHei;background-color:transparent;" value="<%= condition %>" placeholder="文章名">	
						<% } else {%>
							<input type="text" id="condition" name="condition" class="form-control" style="width:200px;background:#efefef;font-family:Microsoft YaHei;background-color:transparent;" placeholder="文章名">
						<% } %>
					<% } %>	  
				</div>
				-->
				<!--
				<button type="submit" class="btn btn-default" style="background:#F0EFEF; font-family:Microsoft YaHei;">搜索</button>
				-->
				<!--
			  </form>
			 -->
			  <ul class="nav navbar-nav navbar-right">
				<% if (typeof(session.user) !== 'undefined' && session.user !== null) { %>
					<input hidden id="currentUsername" value="<%= session.user.username %>">
					<input hidden id="currentUserid" value="<%= session.user.id %>">
					<input hidden id="currentAvatar" value="<%= session.user.avatar %>">
					<% if (session.user.role_type === 1) { %>
						<li id="fat-menu" class="dropdown">
						  <a id="drop" style="font-family:Microsoft YaHei;font-size:16px;" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							功能管理<span class="caret"></span>
						  </a>
						  <ul id="dropdown-menu" class="dropdown-menu" style="background-color:transparent;max-width:120px;min-width:120px;" role="menu" aria-labelledby="drop">
							<li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/users/userlist">账号管理</a></li>
							<li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/articles/articleControl">文章管理</a></li>
							<li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/comments/commentlist">评论管理</a></li>
							<li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/messages/messagelist">站内信管理</a></li>
							<li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/logins/loginlist">登录管理</a></li>
							<li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/relations/followControl">关注管理</a></li>
						  </ul>
						</li>
					<% } %>
                  <% if (session.user.role_type === 1||session.user.status === 1) { %>
                      <li><a style="font-family: 'Grand Hotel',cursive;font-size:16px;" href="/articles/writing">writing</a></li>
                  <% } %>
				  <!--
                  <li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/tuling">聊天机器人</a></li>
                  -->
				  <li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/contact">关于</a></li>
                  <li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/help">使用帮助</a></li>
                  <li id="fat-usermenu" class="dropdown">
                      <a id="drop_userinfo" style="font-family:'Grand Hotel',cursive,Microsoft YaHei;font-size:16px;" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <% if (typeof(session.user.avatar) !== 'undefined'&& session.user.avatar !== null&& session.user.avatar !== '') { %>
                            <img class="avatar" height="25" title="<%= session.user.username %>" width="25" src="<%= session.user.avatar %>" >
                          <% } else { %>
                            <img class="avatar" height="25" title="<%= session.user.username %>" width="25" src="http://gravatar.com/avatar?size=25" >
                          <% } %>
                          <%= session.user.username %><span class="caret"></span>
                      </a>
                      <ul id="drop-userinfo-menu" class="dropdown-menu" style="background-color:transparent;max-width:120px;min-width:120px;" role="menu" aria-labelledby="drop_userinfo">
                      	  <li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/collections/myCollectlist">我的收藏</a></li>
                          <% if (session.user.role_type === 1||session.user.status === 1) { %>
                          <li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/relations/myfollowlist">我的关注</a></li>
                          <li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/articles/myArticle">我的文章</a></li>
                          <% } %>
                          <li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/messages/message">站内信
                              <% if (session.message_count === 0) { %>
                              (<span style="font-weight:bold;"><%= session.message_count %></span>)
                              <% } else { %>
                              (<span style="font-weight:bold;color:#CB70D7;"><%= session.message_count %></span>)
                              <% } %>
                          </a></li>
						  <li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/users/user/resetPass?key=<%= session.user.active_key %>&username=<%= session.user.username %>">修改密码</a></li>
                          <li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/users/user/userinfo">个人信息</a></li>
                          <li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/users/loginOut">登出</a></li>
                      </ul>
                  </li>
				<% } else {%>
					<!--
					<% if (typeof(jumptype) === 'undefined' || jumptype === null ) { %>
						<li><a style="font-family:Microsoft YaHei;font-size:40px;" href="/users/login">登录</a></li>
						<li><a style="font-family:Microsoft YaHei;font-size:40px;" href="/users/reg">注册</a></li>
					<% } else if (jumptype === 'login'){ %>
						<li><a style="font-family:Microsoft YaHei;font-size:40px;" href="/users/reg">注册</a></li>
					<% } else { %>
						<li><a style="font-family:Microsoft YaHei;font-size:40px;" href="/users/login">登录</a></li>
					<% } %>
					
					<li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/tuling">聊天机器人</a></li>
					<li><a style="font-family:Microsoft YaHei;font-size:16px;" href="/contact">关于</a></li>
					-->
				<% } %>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
			 </ul>
        </div>
	</nav>
</header>
<script>
$(function(){
	/*
	$("#drop").mouseover(function(){
		$("#dropdown-menu").show();
	})
	
	$("#drop").mouseout(function(){
		$("#dropdown-menu").hide();
	});
	
	$("#dropdown-menu").mouseover(function(){
		$("#dropdown-menu").show();
	})
	
	$("#dropdown-menu").mouseout(function(){
		$("#dropdown-menu").hide();
	});



    $("#drop_userinfo").mouseover(function(){
        $("#drop-userinfo-menu").show();
    })

    $("#drop_userinfo").mouseout(function(){
        $("#drop-userinfo-menu").hide();
    });

    $("#drop-userinfo-menu").mouseover(function(){
        $("#drop-userinfo-menu").show();
    })

    $("#drop-userinfo-menu").mouseout(function(){
        $("#drop-userinfo-menu").hide();
    });
	*/
})
</script>
<!-- Header End -->


