.m_exp_dia{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    display: block;
    padding-left: 1.5px;
    width: 100%;
    position: relative;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 480px;
    max-height: 480px;
    background: #ffffff;
    border:1px solid #C5C5C5;
    border-radius:5px 5px 5px 5px;
}

.tuling-mn {
    min-height: 33px;
    margin-bottom: 11px;
    clear: both;
}

.tuling {
    line-height: 25px;
    color: #000;
    background: #D0D7DF;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 3px;
    min-width: 50px;
    max-width: 550px;
    margin-top: 5px;
}

.tuling2 {
    background: #86D152;
    color: #FFF;
}


.robot_news {
    margin: 10px 10px 30px 200px;
    text-align: center;
    align: center;
    width: 365px;
    height: 200px;
    background-color: white;
    border: 1px solid #6b747a;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}


.news_others {
    position: relative;
    vertical-align: baseline;
    align: center;
    min-height: 36px;
    margin: 0;
    top: -29px;
    border-top: 1px solid #d7d7d7;
    padding: 5px 10px 0 10px;
}


.news_desc {
    margin: 5px 5px 5px 5px;
    color: grey;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
}